@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
#root {
  height: 100vh;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(#{(--body-background-default)});
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1200px) {
}
