@import './Variables.scss';

.popup {
  position: absolute;
  top: 30%;
  left: calc(50% - 325px);
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  max-width: 750px;
  max-height: 320px;
  height: 100%;
  width: 100%;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  background: var(#{--components-background-default});
  color: var(#{--text-color-default});
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  svg {
    transition: 0.3s;
  }
  &:hover {
    svg {
      transform: rotate(360deg);
    }
  }
}

.day {
  height: 100%;
  padding-top: 10px;

  .day__temp {
    font-weight: 500;
    font-size: 60px;
    margin-bottom: 12px;
    color: #4793ff;
  }
  .day__name {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 12px;
    padding-top: 20px;
  }
  .img {
    svg {
      width: 53px;
      height: 53px;
      margin-left: 5px;
    }
    margin-bottom: 12px;
  }

  .day__time,
  .day__city {
    font-size: 15px;
    color: #939cb0;
  }
}
.this__day_info_items {
  padding-top: 10px;
}
.day__city {
  padding-top: 10px;
}
