//можно поправить на мобильную версию центрировать главный попап через свойства позиции(right поставить условный)

@import './Variables.scss';
.idisplnfo_wrapper {
}
.popup {
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  top: 20%;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 750px;
  max-height: 320px;
  height: 100%;
  width: 100%;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  background: var(#{--components-background-default});
  color: var(#{--text-color-default});
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  svg {
    transition: 0.3s;
  }
  &:hover {
    svg {
      transform: rotate(360deg);
    }
  }
}

.day {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 30px;
  .day__temp {
    margin-top: 20px;
    font-weight: 500;
    font-size: 60px;
    color: #4793ff;
  }
  .day__name {
    font-size: 25px;
  }
  .img {
    svg {
      width: 53px;
      height: 53px;
      margin-left: 5px;
    }
  }

  .day__time,
  .day__city {
    font-size: 15px;
    color: #939cb0;
  }
}

.day__city {
  padding-top: 10px;
}
.this__day_info_items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 320px;
  padding-right: 30px;
}
@media (max-width: 1000px) {
  .popup {
    width: 85%;
  }
}
@media (max-width: 768px) {
  .this__day_info_items {
    padding: 0;
  }
  .day {
    padding-left: 20px;
  }
  .day__name {
    font-size: 15px !important;
  }
  .day__temp {
    font-size: 52px !important;
  }
  .day__time,
  .day__city {
    font-size: 15px;
  }
}
