@import './Variables.scss';

.this__day {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  max-width: 400px;
  width: 100%;
  border-radius: 20px;
  background-color: var(#{--components-background-default});
  box-shadow: $box-shadow;
}
.today__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 30px;
  color: var(#{--text-color-default});
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;

  svg {
    max-height: 80px;
    max-width: 120px;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    padding-right: 10px;
  }
}

.day__temp {
  height: 117px;
  width: 160px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 117px;
  color: #4793ff;
}

.block__bottom {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #939cb0;
  margin-left: 20px;
}
.inf {
  padding-top: 10px;
}
@media (min-width: 1200px) {
  .day__temp {
    font-size: 96px;
  }
}
@media (max-width: 1200px) {
  .block__bottom {
    font-size: 24px;
  }
  .today__title {
    font-size: 32px;
  }
  .day__temp {
    font-size: 90px;
  }
  .inf {
    font-size: 24px;
  }
  .this__day svg {
    max-width: 120px;
    max-height: 70px;
  }
}
@media (max-width: 1000px) {
  .day__temp {
    font-size: 72px;
  }
  .today__title {
    font-size: 28px;
  }
  .inf {
    font-size: 21px;
  }
  .this__day {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .this__day {
    height: 270px;
  }
  .day__temp {
    font-size: 52px;
    width: 55%;
  }
  .today__title {
    font-size: 18px;
  }
  .inf {
    line-height: normal;

    font-size: 15px;
  }
}
